.posttypesui, .taxonomiesui {
	.customizeposts-section:first-child {
		margin-top: 30px;
	}
	width: calc(100% - 300px);
	.postbox-container {
	  width: 100%;
	}
	.postbox .toggle-indicator:before {
		content: "\f142";
		display: inline-block;
		font: normal 20px/1 dashicons;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-decoration: none !important;
	}
	.postbox.closed .handlediv .toggle-indicator::before {
		content: "\f140";
	}
	.postbox .hndle {
		cursor: pointer;
	}
}
.customizeposts-table {
	#excerpt {
		display: inline-block;
		height: 16px;
		margin: 12px 4px 12px 0;
		width: auto;
	}
	td.outter {
		vertical-align: top;
		width: 50%;
	}
	input[type="text"],
	.customizeposts-new & textarea,
	.customizeposts-edit & textarea {
		width: 75%;
	}
	.question:hover {
		cursor: pointer;
	}
	th p {
		font-weight: 400;
		font-size: 12px;
	}
	.customizeposts-slug-details {
		margin-top: 15px;
	}

	#slugchanged {
		color: red;
		font-weight: bold;
		&.hidemessage {
			display: none;
		}
	}
}

.customizeposts-support #support {
	.question {
		font-size: 18px;
		font-weight: bold;
		&:before {
			content: "\f139";
			display: inline-block;
			font: normal 25px/1 'dashicons';
			margin-left: -25px;
			position: absolute;
			-webkit-font-smoothing: antialiased;
		}
		&.active:before {
			content: "\f140";
		}
	}
	.answer {
		margin: 10px 0 0 20px;
	}
	ol li {
		list-style: none;
	}
	li {
		position: relative;
	}
}
.required {
	color: rgb(255,0,0);
}
.customizeposts-field-description {
	font-style: italic;
}
#customizeposts_select_post_type,
#customizeposts_select_taxonomy {
	margin-top: 15px;
}
.customizeposts_post_import,
.customizeposts_tax_import {
	height: 200px;
	margin-bottom: 10px;
	resize: vertical;
	width: 100%;
}
.customizeposts_post_type_get_code,
.customizeposts_tax_get_code {
	height: 300px;
	resize: vertical;
	width: 100%;
}
.about-wrap {
	.customizeposts-feature {
		overflow: visible !important;
		*zoom:1;
		&:before,
		&:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
	}
	h3 + .customizeposts-feature {
		margin-top: 0;
	}
	.feature-rest {
		div {
			width: 50% !important;
			padding-right: 100px;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin: 0 !important;
			&.last-feature {
				padding-left: 100px;
				padding-right: 0;
			}
			&.icon {
				width: 0 !important;
				padding: 0;
				margin: 0;
				&:before {
					font-weight: normal;
					width: 100%;
					font-size: 170px;
					line-height: 125px;
					color: #9c5d90;
					display: inline-block;
					position: relative;
					text-align: center;
					speak: none;
					margin: 0 0 0 -100px;
					content: "\e01d";
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
		}
	}
}
.rtl {
	.about-wrap {
		.feature-rest div {
			padding-left: 100px;
		}
		.feature-rest div.last-feature {
			padding-right: 100px;
			padding-left: 0;
		}
		.feature-rest div.icon:before {
			margin: 0 -100px 0 0;
		}
	}
}
.about-wrap {
	.about-integrations {
		background: #fff;
		margin: 20px 0;
		padding: 1px 20px 10px;
	}
	.changelog {
		h4 {
			line-height: 1.4;
		}
  	}
	.customizeposts-about-text {
		margin-bottom: 1em !important;
	}
}
.js {
	#customizeposts_select_post_type input[type='submit'],
	#customizeposts_select_taxonomy input[type='submit'] {
		display: none;
	}
}
#togglelabels {
	display: none;
	.js & {
		display: inline-block;
	}
}
.customizeposts-help {
	color: #424242;
	margin-left: 4px;
	opacity: 0.5;
	text-decoration: none;
	width: 16px;
	fieldset & {
		position: relative;
		top: 4px;
	}
	&:hover {
		color: #0074a2;
		opacity: 1;
	}
	&:focus {
		box-shadow: none;
	}
}
#toplevel_page_customizeposts_main_menu {
	img {
		height: 20px;
		margin-top: -2px;
		width: 20px;
	}
}
.visuallyhidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.customizeposts-section {
	fieldset {
		border: solid rgb(204, 204, 204) 1px;
		display: block;
		margin-bottom: 30px;
		padding: 10px;
		overflow: hidden;
		.js &.toggledclosed {
			height: 1px;
		}
	}
	legend {
		border: solid rgb(204, 204, 204) 1px;
		border-bottom: 0;
		font-size: 14px;
		font-weight: bold;
		padding: 5px;
	}
}
.customizeposts-spacer {
	display: block;
	margin-top: 25px;
}
.wdspromos {
	float: right;
	margin-left: 20px;
	margin-top: 10px;
	width: 275px;

	#mc_embed_signup {
		background: #fff;
		border: solid rgb(204, 204, 204) 1px;
		clear: left;
		margin-bottom: 10px;
	}
}
.wdspromos-about {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin: 20px 0;

	a:nth-child(1) {
		-webkit-order: 0;
		-ms-flex-order: 0;
		order: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-align-self: auto;
		-ms-flex-item-align: auto;
		align-self: auto;
	}

	a:nth-child(2) {
		-webkit-order: 0;
		-ms-flex-order: 0;
		order: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-align-self: auto;
		-ms-flex-item-align: auto;
		align-self: auto;
	}

	a:nth-child(3) {
		-webkit-order: 0;
		-ms-flex-order: 0;
		order: 0;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-align-self: auto;
		-ms-flex-item-align: auto;
		align-self: auto;
	}
}
.no-js {
	#customizeposts_choose_icon {
		display: none
	}
}
.customizeposts-listings {
	th {
		font-weight: bold;
	}
	.post-type-listing {
		th {
			width: 16.66667%;
		}
	}
	.taxonomy-listing {
		th {
			width: 20%;
		}
	}
}
#poststuff {
	min-width: 463px;
}
